.employee-registeration-parent {
}

.general-details-card {
  height: fit-content;
  width: 100%;
  display: flex;

  .general-details-left {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: calc(var(--unit) * 2);

    .general-profile-image {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      background: var(--y5);
      border: 1px solid var(--y1);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .general-profile-buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: calc(var(--unit) / 2);
      .file-button {
        .hidden {
          display: none;
        }
      }
    }
  }
  .general-details-right {
    width: 70%;
    height: 100%;
  }
}
